<body class="home">
  <header class="header">
    <div class="navbar">
      <img class="logo" src="/images/logo.png">
      <a href="/posts" class="nav report">LIST</a>
      <a href="/posts/submit" class="nav report">ADD</a>
    </div>
  </header>