<body class="home">
  <header class="header">
    <div class="navbar">
      <a href="/" class="nav">HOME</a>
      <a href="/posts" class="nav report">POSTS</a>
      <a href="/posts/submit" class="nav report">SUBMIT</a>
    </div>
  </header>