<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <h2 class="form-signin-heading" style="margin-bottom: .6em; text-align: center;">Woops!<br />how did you get here?</h2>
      <a class="btn btn-default" style="font: inherit; margin-left: 9.3em" href="/">retreat back to safety</a>
    </div>
  </body>
</html>
