body.home {
  margin: 20px 30px 0 30px;
}


@font-face {
  font-family: 'AUdimat-Regular';
  src:url('AUdimat-Regular.ttf.woff') format('woff'),
  url('AUdimat-Regular.ttf.svg#AUdimat-Regular') format('svg'),
  url('AUdimat-Regular.ttf.eot'),
  url('AUdimat-Regular.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) and (max-width:420px) {
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}


/* 13" Macbook Pro */
@media (min-width:1280px) {

}

/* 11" Macbook Air */
@media (min-width:1336px) {

}

/* 15" Macbook Pro */
@media (min-width:1440px) {

}

/* 21.5" Macbook Air */
@media (min-width:1920px) {

}

/* 27" Macbook Air */
@media (min-width:2560px) {

}